:root {
    --footer-size: 85px;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 100%;
}

body {
    direction: rtl;
    font-family: Vazir, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: #F7FDF7;
    /* Margin bottom by footer height */
    margin-bottom: var(--footer-size);
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir-fonts/Vazir.eot');
    src: url('../fonts/vazir-fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir-fonts/Vazir.woff2') format('woff2'),
    url('../fonts/vazir-fonts/Vazir.woff') format('woff'),
    url('../fonts/vazir-fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir-fonts/Vazir-Bold.eot');
    src: url('../fonts/vazir-fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir-fonts/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/vazir-fonts/Vazir-Bold.woff') format('woff'),
    url('../fonts/vazir-fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir-fonts/Vazir-Black.eot');
    src: url('../fonts/vazir-fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir-fonts/Vazir-Black.woff2') format('woff2'),
    url('../fonts/vazir-fonts/Vazir-Black.woff') format('woff'),
    url('../fonts/vazir-fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir-fonts/Vazir-Medium.eot');
    src: url('../fonts/vazir-fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir-fonts/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/vazir-fonts/Vazir-Medium.woff') format('woff'),
    url('../fonts/vazir-fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir-fonts/Vazir-Light.eot');
    src: url('../fonts/vazir-fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir-fonts/Vazir-Light.woff2') format('woff2'),
    url('../fonts/vazir-fonts/Vazir-Light.woff') format('woff'),
    url('../fonts/vazir-fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir-fonts/Vazir-Thin.eot');
    src: url('../fonts/vazir-fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir-fonts/Vazir-Thin.woff2') format('woff2'),
    url('../fonts/vazir-fonts/Vazir-Thin.woff') format('woff'),
    url('../fonts/vazir-fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.navbar-brand > img {
    height: 60px !important;
}

.btn-green {
    color: #2E6E2A;
    background-color: #CAF4C6;
}

.text-pink {
    color: #FD6B6B !important;
}

.bg-pink {
    background-color: #FD6B6B !important;
}

.text-gold {
    color: #FFA525 !important;
}

.bg-yellow {
    background-color: #FFE66D !important;
}

.text-black {
    color: black !important;
}

.btn-yellow {
    color: black;
    background-color: #FFE66D;
}

.text-cyan {
    color: #4DCDC4 !important;
}

.btn-light-cyan {
    color: #1A535B;
    background-color: #D2FCFC;
}

.btn-cyan {
    color: white;
    background-color: #4DCDC4;
    border-color: #2a8e98;
}

.bg-cyan {
    background-color: #4DCDC4 !important;
}

.border-cyan {
    border-color: #4DCDC4 !important;
}

.text-darkcyan {
    color: #1A535B !important;
}

.border-darkcyan {
    border-color: #1A535B !important;
}

.bg-darkcyan {
    background-color: #1A535B !important;
}


.inline-badge {
    position: absolute;
    right: -5px;
    top: 0;
    text-align: center;
    border-radius: 50%;
    padding: 3px 7px;
}

.badged-item {
    size: 5px;
    position: relative;
    display: inline-block;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-size);
    box-shadow: 0 0, 0 0 10px #1A535B;
    font-size: 30px;
    line-height: var(--footer-size);
}

.top-50 {
    transform: translateY(-50%);
}

.restaurant-logo {
    height: 350px;
    border-radius: 10%;
    border: 10px solid white;
}

.border-thick {
    border-width: 3px !important;
}

.border-dashed {
    border-style: dashed !important;
}

.rounded-5 {
    border-radius: 3vmin !important;
}
