/*
  Flaticon icon font: Flaticon
  Creation date: 17/03/2020 07:45
  */

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flat-icon/Flaticon.eot");
    src: url("../fonts/flat-icon/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/flat-icon/Flaticon.woff2") format("woff2"),
    url("../fonts/flat-icon/Flaticon.woff") format("woff"),
    url("../fonts/flat-icon/Flaticon.ttf") format("truetype"),
    url("../fonts/flat-icon/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/flat-icon/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-plus:before {
    content: "\f100";
}

.flaticon-minus:before {
    content: "\f101";
}

.flaticon-account:before {
    content: "\f102";
}

.flaticon-smart-cart:before {
    content: "\f103";
}

.flaticon-card:before {
    content: "\f104";
}

.flaticon-mail:before {
    content: "\f105";
}

.flaticon-phone:before {
    content: "\f106";
}
